{{#if model}}
  {{#bs-form model=model action="submit"}}
    {{bs-form-element controlType="text" label="Name" placeholder="Name" property="name"}}
    {{bs-form-element controlType="textarea" label="Description" placeholder="Description" property="description"}}
    {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
    <a {{action "cancel"}}>cancel</a>
    {{#unless model.isNew}}
      {{bs-button type="danger" icon="glyphicon glyphicon-trash" classNames="pull-right" action=(action 'deleteRequested') }}
    {{/unless}}
  {{/bs-form}}
{{else}}
  <p class="text-warning">No activity model found.</p>
{{/if}}
{{yield}}
